<p>author works!</p>

<button type="button" routerLink="creer">create</button>

@for (item of auteurDetail; track $index) {

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{item.id}}</li>
    <li class="list-group-item">{{item.FirstName}}</li>
    <li class="list-group-item">{{item.LastName}}</li>
  </ul>
</div>

<button type="button" routerLink="modifier">edit</button>
<button type="button" (click)="deleteOneAuthor(item.id)">delete</button>
}